<div class="dialog-service-check dialog-service-check-l">
    <div class="service-card">
        <div class="service-card-in">
            <div class="title">{{oldServiceTagName}}</div>
            <div class="pic-box">
                <img src="{{getImage oldServiceTagImg}}?w=96&h=96&q=75" alt="" class="pic">
            </div>
            <div class="info-box">
                <p class="info">类型：{{oldServiceTagTypeName}}</p>
                <p class="info">说明：{{oldRemark}}</p>
            </div>
            <i class="ico ico-mark"></i>
        </div>
    </div>
    <div class="service-in"><i class="ico ico-triangle"></i></div>
    <div class="service-card">
        <div class="service-card-in">
            <div class="title">{{serviceTagName}}</div>
            <div class="pic-box">
                <img src="{{getImage serviceTagImg}}?w=96&h=96&q=75" alt="" class="pic">
            </div>
            <div class="info-box">
                <p class="info">类型：{{serviceTagTypeName}}</p>
                <p class="info">说明：{{remark}}</p>
            </div>
            <i class="ico ico-mark ico-mark2"></i>
        </div>
    </div>
</div>