{{#each this}}
    <li class="sub-nav-item">
        <a href="javascript:;" class="sub-nav-tit" data-id="{{id}}" data-type="{{userGroupType}}" data-name="{{userGroupName}}">{{userGroupName}}（{{userNum}}）</a>
    </li>
{{/each}}