{{#judge listData.length 0}}
    <div class="nodata-box">
        <img src="http://ue1.17173cdn.com/a/2035/open/2014/img/nodata.jpg" alt="暂无数据" width="84" height="90">
        <div class="tit">暂无数据...</div>
    </div>
{{else}}
    <div class="comm-mod">
        <div class="mod-hd">
            <div class="tit tit-name w-32">标题</div>
            <div class="tit w-1">状态</div>
            <div class="tit w-1">收集量</div>
            <div class="tit">操作时间</div>
        </div>
        <div class="comm-bd">
            <ul class="comm-list comm-list-ex2">
                {{#each listData}}
                    <li class="list-item" data-id="{{id}}">
                        <div class="info name w-3" title="{{name}}">{{name}}</div>
                        <div class="info w-1">{{statusName}}</div>
                        <div class="info w-1">{{count}}</div>
                        <div class="info">{{fDate editDate}}</div>
                        <div class="link-box">
                            <a href="javascript:;" class="btn comm-btn2" data-role="sj">设计</a>
                            <a href="javascript:;" class="btn comm-btn2" data-role="fb">发布</a>
                            <a href="javascript:;" class="btn comm-btn2" data-role="fx">分析</a>
                            <a href="javascript:;" class="btn comm-btn2" data-role="yl">预览</a>
                            <a href="javascript:;" class="btn comm-btn2" data-role="dj">答卷</a>
                            <a href="javascript:;" class="btn comm-btn2 comm-btn2-ex2" data-role="del">删除</a>
                        </div>
                    </li>
                {{/each}}
            </ul>
            <ul class="pagination" id="J_Page"></ul>
        </div>
    </div>
{{/judge}}